/*
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #444;
    color:#fff;
    position: relative;
}
#page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,40%);
}

#page h1, #page h2{
    text-align: center;
}

h2{
    margin-bottom: 20px;
    text-transform: uppercase;
    background-color: #309151;
}

ul li{
    list-style: none;
    padding:10px;
    width: 90vw;
    background-color: #fff;
    display: inline-block;
    margin: 10px 0;
    text-transform: uppercase;

}

.hot{
    background-color: #ad4d3b;
}
.cool{
    background-color: #3d6a9e;
}
.normal{
    background-color: #b56014;
}
.complete{
    background-color: #292929;
}

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7rem;
  background-color: #222;
  color: #ccc; }

.primary {
  width: 90vw;
  padding: 2.6rem 0;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 1.2rem 0; }

.secondary {
  width: 90vw;
  font-size: 2rem;
  text-transform: uppercase; }

.groceries {
  font-size: 1.6rem;
  width: 60vw;
  list-style: none;
  margin: 0 auto;
  text-align: center; }
  .groceries .groceries__item {
    padding: 1.2rem 0; }
    .groceries .groceries__item-hot {
      background-color: #ad4d3b; }
    .groceries .groceries__item-cool {
      background-color: #3d6a9e; }
    .groceries .groceries__item-normal {
      background-color: #b56014; }
    .groceries .groceries__item-complete {
      background-color: #292929; }
    .groceries .groceries__item:not(:last-child) {
      margin-bottom: 2rem; }

.primary {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  text-align: center;
  margin: 0 auto; }

.secondary {
  margin: 2rem auto;
  text-align: center; }
