.primary{
    background-image: linear-gradient(to right bottom, rgba($color-primary-light,0.8),
    rgba($color-primary-dark,0.8)); 
    text-align: center;
    margin: 0 auto;
}

.secondary{
    margin: 2rem auto;
    text-align: center;
}