// Colors
$color-hot: #ad4d3b;
$color-cool: #3d6a9e;
$color-normal: #b56014;
$color-complete: #292929;

$color-white: #ccc;
$color-dark-grey: #222;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;


