// Colors
$color-hot: #ad4d3b;
$color-cool: #3d6a9e;
$color-normal: #b56014;
$color-complete: #292929;

$color-white: #ccc;
$color-dark-grey: #222;


/*
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #444;
    color:#fff;
    position: relative;
}
#page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,40%);
}

#page h1, #page h2{
    text-align: center;
}

h2{
    margin-bottom: 20px;
    text-transform: uppercase;
    background-color: #309151;
}

ul li{
    list-style: none;
    padding:10px;
    width: 90vw;
    background-color: #fff;
    display: inline-block;
    margin: 10px 0;
    text-transform: uppercase;

}

.hot{
    background-color: #ad4d3b;
}
.cool{
    background-color: #3d6a9e;
}
.normal{
    background-color: #b56014;
}
.complete{
    background-color: #292929;
}

*/